.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    /* justify-content: center; */
}



.TileSpace{
    margin-top: 1em;
    height: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid rebeccapurple;
    border-radius: 8px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.TileSpaceEle{
    height: 200px;
    padding: 0.1em;
    display: flex;
    border: 1px solid rebeccapurple;
    border-radius: 8px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px
}



.TileElement{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: bold;
    text-align: center;
    font-size: medium;
    line-height: 3em;
    cursor: pointer;
}

.TileElement-click{
   background: #ff4b1f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff9068, #ff4b1f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ff9068, #ff4b1f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}