body{
    margin: 0;
}

.App{
    width: 550px;
    margin: auto;
    background: #FFFFFF;
}

.Header{
    margin: 0 0 1em 0;
    padding-top: 10px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-family: 'Satisfy', cursive;
    background: #00416A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.Card{
    margin: auto;
    display: flex;
    width: 470px;
    height: 170px;
    padding: 0.75em 2.5em;
    /* border: 2px solid red; */
    justify-content: space-between;
}

.Card-img{
    flex-shrink: 0;
    width: 125px;
    height: 170px;
    display: flex;
    /* border: 2px solid red; */
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 6px;
}

.Card-details{
    /* border: 2px solid red; */
    padding: 1.25em 1em;
}

.Card-details-location{
    margin: 0;
    font-weight: 400;
font-size: 10.24px;
line-height: 12px;
}

.Card-details-title{
    margin: 0 1em  0 0;
    font-weight: 700;
font-size: 25px;
line-height: 30px;
}

.Card-details-date{
    font-weight: 700;
font-size: 10.24px;
line-height: 12px;
}

.Card-details-decr{
    font-weight: 400;
font-size: 10.24px;
line-height: 150%;
}